  ##CLEAN_USERNAME##:
      image: ##IMAGE##
      environment:
        CB_USERNAME: "##CB_USERNAME##"
        AWSKEY: "${AWSKEY}"
        AWSSECRET: "${AWSSECRET}"
        SERVICE_IP: "watcher1.backend.chaturbae.tv"
        DEBUG: "chaturbae:*"
