  ##CLEAN_USERNAME##:
      image: patt1293/chaturbae-client:latest
      environment:
        CB_USERNAME: "##CB_USERNAME##"
        AWSKEY: "${AWSKEY}"
        AWSSECRET: "${AWSSECRET}"
        SERVICE_IP: "18.222.108.107"
        DEBUG: "chaturbae:*"
